---
name: Build Artifacts
on:
  release:
    types: [created]
  push:
    branches:
    - '**'
    paths:
    - '**'
    - '!.github/**'
    - '.github/workflows/integration-tests.yaml'
    - '.github/workflows/build.yaml'
    - '!docs/**'
    - '!CODE-OF-CONDUCT.md'
    - '!CONTRIBUTING.md'
    - '!LICENSE'
    - '!README.md'
    - '!SECURITY.md'
  pull_request:
    branches:
    - '**'
    paths:
    - '**'
    - '!.github/**'
    - '.github/workflows/integration-tests.yaml'
    - '.github/workflows/build.yaml'
    - '!docs/**'
    - '!CODE-OF-CONDUCT.md'
    - '!CONTRIBUTING.md'
    - '!LICENSE'
    - '!README.md'
    - '!SECURITY.md'
  workflow_dispatch:
    inputs:
      tags:
        required: false
        type: string
        default: ''
        description: 'Tags'
      dry-run:
        required: true
        type: boolean
        default: false
        description: 'Dry run'
  workflow_run:
    workflows: [Run Monitoring Pipeline]
    types: [requested]

concurrency:
  # On main/release, we don't want any jobs cancelled so the sha is used to name the group
  # On PR branches, we cancel the job if new commits are pushed
  # More info: https://stackoverflow.com/a/68422069/253468
  group: ${{ github.ref == 'refs/heads/main' && format('ci-main-{0}', github.sha) || format('ci-main-{0}', github.ref) }}
  cancel-in-progress: true

jobs:
  multiplatform_build:
    permissions:
      contents: read
      packages: write
      pull-requests: write
    if: github.event.pull_request.user.login != 'dependabot[bot]' || github.event_name == 'pull_request'
    strategy:
      fail-fast: false
      matrix:
        component:
        - name: qubership-monitoring-operator
          description: Qubership Monitoring Operator image
          file: Dockerfile
          context: .
        - name: qubership-monitoring-transfer
          description: Qubership Monitoring documentation and helm charts image
          file: docker-transfer/Dockerfile
          context: .
        - name: qubership-monitoring-int-tests
          description: Qubership Monitoring integration tests image
          file: test/robot-tests/Dockerfile
          context: test/robot-tests
    runs-on: ubuntu-latest
    name: ${{ matrix.component.name }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.0
    - name: Set image name
      run: |
        OWNER="${{ github.repository_owner }}"
        OWNER=$(echo "${OWNER,,}" | sed -E 's/[^a-z0-9._-]+/-/g')
        echo "FULL_IMAGE_NAME=ghcr.io/${OWNER}/${{ matrix.component.name }}" >>${GITHUB_ENV}
      env:
        IMAGE_NAME: '${{ github.repository }}'
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
      with:
        images: "${{ env.FULL_IMAGE_NAME }}"
        tags: |
          type=ref,event=branch
          type=ref,event=tag
          type=raw,value=${{ github.head_ref }},enable=${{ github.event_name == 'pull_request' }}
          type=sha,prefix=git-
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
        flavor: |
          latest=${{ github.ref == 'refs/heads/main' }}
        labels: |
          org.opencontainers.image.description=${{ matrix.component.description }}
        annotations: |
          org.opencontainers.image.description=${{ matrix.component.description }}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        no-cache: true
        context: ${{ matrix.component.context }}
        file: ${{ matrix.component.file }}
        platforms: linux/amd64,linux/arm64
        # See https://docs.github.com/en/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions#fetching-metadata-about-a-pull-request
        push: ${{ (github.actor != 'dependabot[bot]') && ((github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository) || github.ref == 'refs/heads/main' || github.ref_type == 'tag') }}
        provenance: false
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
